/* Navbar */
.navbar-brand {
  font-family: "Nunito", sans-serif;
  font-size: 36px;
  text-transform: uppercase;
  color: #ec830e !important;
}

.navbar-brand span {
  font-weight: 200;
}

/* Jumbotron */
.jumbotron {
  background-color: white;
}

.jumbotron img {
  width: 300px;
  margin-left: 30px;
}

.jumbotron .display-4 {
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  text-transform: uppercase;
  font-size: 48px;
  color: #ffc000;
  text-align: center;
}

.jumbotron p {
  font-size: 16px;
  color: #a5a5a5;
  text-align: center;
}

/* Indicator */
.jumbotron .indicator img {
  margin-left: 130px;
  margin-top: 60px;
  width: 100px;
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .nav-link {
    text-transform: uppercase;
    margin-right: 20px;
    font-size: 14px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  }

  .nav-link:hover {
    color: #ed8d30 !important;
  }
  .jumbotron .display-4,
  p {
    margin-left: -10px;
  }

  .jumbotron .display-4 {
    margin-top: 60px;
    text-align: left;
  }

  .jumbotron p {
    text-align: left;
  }

  .jumbotron img {
    width: 400px;
    margin-top: -20px;
    margin-left: 30px;
  }

  /* Indicator */
  .jumbotron .indicator img {
    margin-left: 100px;
    margin-top: 60px;
    width: 100px;
  }
}
